

@media only screen and (min-width: 1200px) {
    .about-me {
        max-width: 500px;
    }
}


/* Medium Layout */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .carousel-indicators {
        bottom: 90px;
    }
}


/* Tablet Layout */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .caption h1 {
        font-size: 35px;
    }
    .navbar-nav li a {
        padding: 15px 5px;
    }

    .carousel-indicators {
        bottom: 30px;
    }

    .about-text {
        margin: 20px 0;
    }

    .testimonial-item i.fa {
        margin-top: 20px;
    }

    .contact-info,
    .video-area .accordion {
        margin-top: 30px;
    }

    .action-area .btn {
        margin-top: 15px;
    }

    .testimonial-content {
        margin-bottom: 30px;
        text-align: left;
    }

    .contact-form {
        margin-bottom: 30px;
    }

}


/* Mobile Layout */

@media only screen and (max-width: 767px) {
    body, p {
        line-height: 25px;
    }
    .navbar-brand ,
    .navbar-brand span,
    .navbar-brand:hover, 
    .navbar-brand span:hover {
        color: #333;
    }
    .section-big {
        padding: 50px 0px;
    }

    .section-title {
        margin-bottom: 50px;
    }
    .section-title h2 {
        line-height: 30px;
    }
    .intro-text {
        padding: 0 15px;
    }
    .typejs, 
    .typed-cursor {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .action-area h2,
    .intro-text h2 {
        font-size: 20px;
    }
    .btn, input[type='submit'] {
        margin-bottom: 0px;
        padding: 8px 20px;
    }
    img {
        max-width: 100%;
    }
    

    .about-text {
        transform: translate(0);
        margin-top: 35px;
    }

    .about-text-2 {
        margin-top: 15px;
        padding-left: 0px;
    }

    .navbar-toggle {
        margin-right: 0px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        background: #fff;
    }
    .navbar {
        min-height: 0px;
    }
    .mainmenu .navbar-nav {
        margin: 0;
    }
    .mainmenu .navbar-nav li {
        float: none;
        display: block;
    }
    .mainmenu .navbar-nav li a {
        padding: 11px 15px;
        color: inherit;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }
    .navbar-toggle {}
    a.about-button {
        margin-top: 0;
    }
    .menu-area .container {
        box-shadow: 0 0 5px #ddd;
        background: #fff;
        padding: 5px 15px;
    }

    /* service area */

    /* Portfolio area */

    .filters li {
        margin-bottom: 10px;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .contact-info,
    .video-area .accordion {
        margin-top: 30px;
    }

    .action-area .btn {
        margin-top: 15px;
    }

    .testimonial-content {
        margin-bottom: 30px;
        text-align: left;
    }

    .testimonial-list {
        transform: translate(0);
        margin-top: 15px
    }

    .testimonial-list.demo-2 .single-testimonial {
        padding: 0px;
    }

    .testimonial-list.demo-3 .single-testimonial {
        margin: 0 20px;
    }

    .contact-form {
        margin-bottom: 30px;
    }


}


/* Small Mobile Layout */

@media only screen and (max-width: 480px) {
    .social-links li {
        margin-bottom: 10px;
    }
    .filters li {
        width: 50px;
    }
}
